public/elements/header.html

<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="col-lg-3 px-0 text-center text-lg-left"><a class="navbar-brand logo" href="index.html">
          <svg>
            <use xlink:href="images/sprite.svg#logo-white"></use>
          </svg></a></div>
      <div>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services</a>
              <div class="dropdown-menu"><a class="dropdown-item" href="#">Cold Crypto Wallets Setup</a><a class="dropdown-item" href="#">Cold Wallets Storage</a><a class="dropdown-item" href="#">Active Virtual Financial Asset Management</a><a class="dropdown-item" href="#">Exchange of the Virtual Financial Assets</a></div>
            </li>
            <li><a href="press.html">Press</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="faq.html">F.A.Q</a></li>
            <li><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En</a>
              <ul class="dropdown-menu lang">
                <li><a href="#">English </a></li>
                <li><a href="#">Français</a></li>
              </ul>
            </li>
            <li><a href="tel: +7 495 786 67 67">+7 495 786 67 67</a></li>
            <li><a href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#log-in"></use>
                </svg></a></li>
          </ul>
        </div>
      </div>
      <div class="lang-responsive"><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En
          <div class="figure"></div></a>
        <ul class="dropdown-menu lang">
          <li><a href="#">English </a></li>
          <li><a href="#">Français</a></li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
    </div>
  </nav>
</header>

src/elements/header.pug
header

	nav.navbar.navbar-expand-lg
		
		.container

			.col-lg-3.px-0.text-center.text-lg-left
				a(href='index.html').navbar-brand.logo
					svg
						use(xlink:href="images/sprite.svg#logo-white")

			div
				#navbarsExampleDefault.collapse.navbar-collapse
					ul.navbar-nav
						li.dropdown
							a(href='#' , data-toggle="dropdown" , role="button" , aria-haspopup="true" , aria-expanded="false").dropdown-toggle Our Services
							.dropdown-menu
								a.dropdown-item(href="#") Cold Crypto Wallets Setup
								a.dropdown-item(href="#") Cold Wallets Storage
								a.dropdown-item(href="#") Active Virtual Financial Asset Management
								a.dropdown-item(href="#") Exchange of the Virtual Financial Assets

						li
							a(href='press.html') Press

						li
							a(href='contacts.html') Contacts

						li
							a(href='faq.html') F.A.Q

						li
							a(href='#' , data-toggle="dropdown" , role="button" , aria-haspopup="true" , aria-expanded="false").dropdown-toggle.current-lang En
							ul.dropdown-menu.lang
								li: a(href="#") English 
								li: a(href="#") Français

						li
							a(href="tel: +7 495 786 67 67") +7 495 786 67 67

						li
							a(href="#")
								svg
									use(xlink:href="images/sprite.svg#log-in")

			.lang-responsive
				a(href='#' , data-toggle="dropdown" , role="button" , aria-haspopup="true" , aria-expanded="false").dropdown-toggle.current-lang En
					.figure
				ul.dropdown-menu.lang
					li: a(href="#") English 
					li: a(href="#") Français

			button(type='button' , data-toggle='collapse' , data-target='#navbarsExampleDefault' , aria-controls='navbarsExampleDefault' , aria-expanded='false' , aria-label='Toggle navigation').navbar-toggler
				span
				span
				span
