public/contacts.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>index</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css">
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    -->
  </head>
  <body>
    <!-- Header start-->
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="col-lg-3 px-0 text-center text-lg-left"><a class="navbar-brand logo" href="index.html">
              <svg>
                <use xlink:href="images/sprite.svg#logo-white"></use>
              </svg></a></div>
          <div>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services</a>
                  <div class="dropdown-menu"><a class="dropdown-item" href="#">Cold Crypto Wallets Setup</a><a class="dropdown-item" href="#">Cold Wallets Storage</a><a class="dropdown-item" href="#">Active Virtual Financial Asset Management</a><a class="dropdown-item" href="#">Exchange of the Virtual Financial Assets</a></div>
                </li>
                <li><a href="press.html">Press</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="faq.html">F.A.Q</a></li>
                <li><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En</a>
                  <ul class="dropdown-menu lang">
                    <li><a href="#">English </a></li>
                    <li><a href="#">Français</a></li>
                  </ul>
                </li>
                <li><a href="tel: +7 495 786 67 67">+7 495 786 67 67</a></li>
                <li><a href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#log-in"></use>
                    </svg></a></li>
              </ul>
            </div>
          </div>
          <div class="lang-responsive"><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En
              <div class="figure"></div></a>
            <ul class="dropdown-menu lang">
              <li><a href="#">English </a></li>
              <li><a href="#">Français</a></li>
            </ul>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
        </div>
      </nav>
    </header>
    <!-- Main page start-->
    <main>
      <div class="intro inner-intro">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>Contacts</h1>
            </div>
          </div>
        </div>
      </div>
      <section class="contacts-info">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.091828791559!2d14.510139115264698!3d35.895766580144894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130e452cbabd129b%3A0xeed49116b520ff28!2zNjAsIDIgTWVsaXRhIFN0LCBWYWxsZXR0YSwg0JzQsNC70YzRgtCw!5e0!3m2!1suk!2sua!4v1569843298503!5m2!1suk!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info"><img class="contacts-logo" src="images/logo-small.svg" alt="">
                <p><span>Address</span>60/2 Melita street, Valletta, Malta</p>
                <p><span>Phone</span>+356 2205 6200</p>
                <p><span>E-mail</span><a href="mailto: infp@cvault.co">info@cvault.co</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer start-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-logo">
              <svg>
                <use xlink:href="images/sprite.svg#logo-white"></use>
              </svg>
            </div>
          </div>
          <div class="col-lg-6 col-md-7 offset-lg-1 offset-md-2">
            <div class="footer-nav">
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Road Map</a></li>
                <li><a href="#">Privacy Police</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Press</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-12">
            <div class="social"><a class="social-link" href="#"><img src="images/facebook.svg" alt=""></a><a class="social-link" href="#"><img src="images/linkedin.svg" alt=""></a></div>
          </div>
          <div class="col-md-12">
            <div class="copyright">© 2019 Cvault. All rights Reserved.</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery & Bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Slick slider-->
    <script src="js/slick.min.js"></script>
    <!-- Magnific popup-->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Main script-->
    <script src="js/main.js"></script>
  </body>
</html>

src/contacts.pug
doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			.intro.inner-intro
				.container
					.row

						.col-12
							h1 Contacts

			section.contacts-info
				.container
					.row
						.col-md-8
							.map
								iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.091828791559!2d14.510139115264698!3d35.895766580144894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130e452cbabd129b%3A0xeed49116b520ff28!2zNjAsIDIgTWVsaXRhIFN0LCBWYWxsZXR0YSwg0JzQsNC70YzRgtCw!5e0!3m2!1suk!2sua!4v1569843298503!5m2!1suk!2sua"  , width="100%" , height="450" , frameborder="0" , style="border:0;" , allowfullscreen="")

						.col-md-4
							.info
								img(src="images/logo-small.svg", alt="").contacts-logo

								p
									span Address
									|60/2 Melita street, Valletta, Malta
								p
									span Phone
									|+356 2205 6200

								p
									span E-mail
									a(href="mailto: infp@cvault.co") info@cvault.co


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug
