src/index.pug
doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main
			.intro
				.container
					.row

						//.col-12
							h1 Company Tittle
							p We can execute even the most unpredictable ideas!
							a(href="#services").secondary-btn Our Services

						.col-md-8.text-left
							h3 We can execute even the most <br> unpredictable ideas!
							a(href="#").secondary-btn.fill Get Free Account

							p <a href="#">№ FRK000118</a> - Provider of a service of exchanging a virtual currency against a fiat currency
							p <a href="#">№ FVR000139</a> - Provider of a virtual currency wallet service

						.col-md-4
							.mockup
								img(src="images/phone-mockup.png", alt="")

				video(loop muted autoplay poster='bg/daisy-stock-poster.jpg').bg-video
					source(src='video/bg-video.mp4' type='video/mp4')
					source(src='video/bg-video.webm' type='video/webm')

				.bottom-intro
					.container
						p some content

			section#services.services
				.container
					.row
						.col-12.mb-5.pb-5
							h2 Our Services
							p.text-center We deliver all kind of services that support small and micro businesses.

						.col-md-6
							.service-item.bg-color
								a(href="#")
									.service-icon
										svg
											use(xlink:href="images/sprite.svg#wallet-setup")
									h5 Cold Crypto Wallets Setup

						.col-md-6
							.service-item
								a(href="#")
									.service-icon
										svg
											use(xlink:href="images/sprite.svg#bitcoin3")
									h5 Cold Wallets Storage

						.col-md-6
							.service-item
								a(href="#")
									.service-icon
										svg
											use(xlink:href="images/sprite.svg#browser-3")
									h5 Active Virtual Financial Asset Management (Full Control)

						.col-md-6
							.service-item.bg-color
								a(href="#")
									.service-icon
										svg
											use(xlink:href="images/sprite.svg#bitcoin2")
									h5 Exchange of the Virtual Financial Assets with Professional Trading Venue VFA class 4

			section.about
				.container-fluid
					.row
						.col-lg-4.col-md-6
							.about-item
								.about-icon
									svg
										use(xlink:href="images/sprite.svg#idea")
								h4 Professional Team
								p All members of our team are professional participants in the financial market licensed by the central bank

						.col-lg-4.col-md-6
							.about-item
								.about-icon
									svg
										use(xlink:href="images/sprite.svg#bitcoin2")
								h4 Management Experience
								p We have experience in asset management of private clients for more than 200 million euros 

						.col-lg-4.col-md-12
							.about-item
								.about-icon
									svg
										use(xlink:href="images/sprite.svg#bitcoin2")
								h4 Benefit Tittle
								p We have experience in asset management of private clients for more than 200 million euros

			section.partners
				.container

					.row
						.col-12
							h2 Key Partners

						.partners-logo
							.wrap-logo
								img(src="images/TuricumLogo1.jpg", alt="")
							.wrap-logo
								img(src="images/cc-logo.png", alt="")
							.wrap-logo
								img(src="images/pwc.png", alt="")
							.wrap-logo
								img(src="images/dentos.png", alt="")
							.wrap-logo
								img(src="images/TuricumLogo1.jpg", alt="")

			section.timeline
				.container
					.row
						.col-12
							h2 Road Map

						.col-md-10.offset-md-1.col-sm-12.col-12
							
							.wrap-timeline
								
								.timeline-item
									.timeline-date
										img(src="images/Aug.png", alt="")
									.timeline-desc
										p Application for vfa class 2 license

								.timeline-item
									.timeline-date
										img(src="images/Nov.png", alt="")
									.timeline-desc
										p Office opening in Russia

								.timeline-item
									.timeline-date
										img(src="images/Feb.png", alt="")
									.timeline-desc
										p Office opening in Russia

								.timeline-item
									.timeline-date
										img(src="images/March.png", alt="")
									.timeline-desc
										p Customer pre-orders

								.timeline-item
									.timeline-date
										img(src="images/May.png", alt="")
									.timeline-desc
										p Obtaining a license and accepting money into accounts

								.timeline-item
									.timeline-date
										img(src="images/end.png", alt="")
									.timeline-desc
										p Brunch opening in the EU

			section.team
				.container
					.row
						.col-12
							h2 Our Team

						.col-md-3
							.team-item
								.team-img
									img(src="images/team-img.jpeg", alt="")
								.team-detail
									h3 Andrew Shimmer
									p Position

						.col-md-3
							.team-item
								.team-img
									img(src="images/team-img-2.jpeg", alt="")
								.team-detail
									h3 Ann Maisner
									p Position

						.col-md-3
							.team-item
								.team-img
									img(src="images/team-img.jpeg", alt="")
								.team-detail
									h3 Andrew Shimmer
									p Position

						.col-md-3
							.team-item
								.team-img
									img(src="images/team-img-2.jpeg", alt="")
								.team-detail
									h3 Ann Maisner
									p Position

						.col-12.text-center.mt-5
							a(href="#").secondary-btn.fill More

			section.question
				.container-fluid
					.row
						.col-md-6
							.question-cover
								img(src="images/form-img.jpg", alt="")

						.col-md-6
							.title-form
								h2 Have a Questions?
								p Complete the form below and our manager will contact you within 1 hour!

							form.question-form
								.form-field
									label Name*
									input(type="text")

								.form-field
									label E-mail*
									input(type="text")

								.form-field
									label Phone number
									input(type="text")

								.form-field
									label Message*
									input(type="text")

								.form-field
									button(type="submit") Send

		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug

public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>index</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css">
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    -->
  </head>
  <body>
    <!-- Header start-->
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="col-lg-3 px-0 text-center text-lg-left"><a class="navbar-brand logo" href="index.html">
              <svg>
                <use xlink:href="images/sprite.svg#logo-white"></use>
              </svg></a></div>
          <div>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services</a>
                  <div class="dropdown-menu"><a class="dropdown-item" href="#">Cold Crypto Wallets Setup</a><a class="dropdown-item" href="#">Cold Wallets Storage</a><a class="dropdown-item" href="#">Active Virtual Financial Asset Management</a><a class="dropdown-item" href="#">Exchange of the Virtual Financial Assets</a></div>
                </li>
                <li><a href="press.html">Press</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="faq.html">F.A.Q</a></li>
                <li><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En</a>
                  <ul class="dropdown-menu lang">
                    <li><a href="#">English </a></li>
                    <li><a href="#">Français</a></li>
                  </ul>
                </li>
                <li><a href="tel: +7 495 786 67 67">+7 495 786 67 67</a></li>
                <li><a href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#log-in"></use>
                    </svg></a></li>
              </ul>
            </div>
          </div>
          <div class="lang-responsive"><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En
              <div class="figure"></div></a>
            <ul class="dropdown-menu lang">
              <li><a href="#">English </a></li>
              <li><a href="#">Français</a></li>
            </ul>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
        </div>
      </nav>
    </header>
    <!-- Main page start-->
    <main>
      <div class="intro">
        <div class="container">
          <div class="row">
            <!--.col-12
            h1 Company Tittle
            p We can execute even the most unpredictable ideas!
            a(href="#services").secondary-btn Our Services
            
            -->
            <div class="col-md-8 text-left">
              <h3>We can execute even the most <br> unpredictable ideas!</h3><a class="secondary-btn fill" href="#">Get Free Account</a>
              <p><a href="#">№ FRK000118</a> - Provider of a service of exchanging a virtual currency against a fiat currency</p>
              <p><a href="#">№ FVR000139</a> - Provider of a virtual currency wallet service</p>
            </div>
            <div class="col-md-4">
              <div class="mockup"><img src="images/phone-mockup.png" alt=""></div>
            </div>
          </div>
        </div>
        <video class="bg-video" loop muted autoplay poster="bg/daisy-stock-poster.jpg">
          <source src="video/bg-video.mp4" type="video/mp4">
          <source src="video/bg-video.webm" type="video/webm">
        </video>
        <div class="bottom-intro">
          <div class="container">
            <p>some content</p>
          </div>
        </div>
      </div>
      <section class="services" id="services">
        <div class="container">
          <div class="row">
            <div class="col-12 mb-5 pb-5">
              <h2>Our Services</h2>
              <p class="text-center">We deliver all kind of services that support small and micro businesses.</p>
            </div>
            <div class="col-md-6">
              <div class="service-item bg-color"><a href="#">
                  <div class="service-icon">
                    <svg>
                      <use xlink:href="images/sprite.svg#wallet-setup"></use>
                    </svg>
                  </div>
                  <h5>Cold Crypto Wallets Setup</h5></a></div>
            </div>
            <div class="col-md-6">
              <div class="service-item"><a href="#">
                  <div class="service-icon">
                    <svg>
                      <use xlink:href="images/sprite.svg#bitcoin3"></use>
                    </svg>
                  </div>
                  <h5>Cold Wallets Storage</h5></a></div>
            </div>
            <div class="col-md-6">
              <div class="service-item"><a href="#">
                  <div class="service-icon">
                    <svg>
                      <use xlink:href="images/sprite.svg#browser-3"></use>
                    </svg>
                  </div>
                  <h5>Active Virtual Financial Asset Management (Full Control)</h5></a></div>
            </div>
            <div class="col-md-6">
              <div class="service-item bg-color"><a href="#">
                  <div class="service-icon">
                    <svg>
                      <use xlink:href="images/sprite.svg#bitcoin2"></use>
                    </svg>
                  </div>
                  <h5>Exchange of the Virtual Financial Assets with Professional Trading Venue VFA class 4</h5></a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="about">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="about-item">
                <div class="about-icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#idea"></use>
                  </svg>
                </div>
                <h4>Professional Team</h4>
                <p>All members of our team are professional participants in the financial market licensed by the central bank</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="about-item">
                <div class="about-icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#bitcoin2"></use>
                  </svg>
                </div>
                <h4>Management Experience</h4>
                <p>We have experience in asset management of private clients for more than 200 million euros </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="about-item">
                <div class="about-icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#bitcoin2"></use>
                  </svg>
                </div>
                <h4>Benefit Tittle</h4>
                <p>We have experience in asset management of private clients for more than 200 million euros</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="partners">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Key Partners</h2>
            </div>
            <div class="partners-logo">
              <div class="wrap-logo"><img src="images/TuricumLogo1.jpg" alt=""></div>
              <div class="wrap-logo"><img src="images/cc-logo.png" alt=""></div>
              <div class="wrap-logo"><img src="images/pwc.png" alt=""></div>
              <div class="wrap-logo"><img src="images/dentos.png" alt=""></div>
              <div class="wrap-logo"><img src="images/TuricumLogo1.jpg" alt=""></div>
            </div>
          </div>
        </div>
      </section>
      <section class="timeline">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Road Map</h2>
            </div>
            <div class="col-md-10 offset-md-1 col-sm-12 col-12">
              <div class="wrap-timeline">
                <div class="timeline-item">
                  <div class="timeline-date"><img src="images/Aug.png" alt=""></div>
                  <div class="timeline-desc">
                    <p>Application for vfa class 2 license</p>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-date"><img src="images/Nov.png" alt=""></div>
                  <div class="timeline-desc">
                    <p>Office opening in Russia</p>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-date"><img src="images/Feb.png" alt=""></div>
                  <div class="timeline-desc">
                    <p>Office opening in Russia</p>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-date"><img src="images/March.png" alt=""></div>
                  <div class="timeline-desc">
                    <p>Customer pre-orders</p>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-date"><img src="images/May.png" alt=""></div>
                  <div class="timeline-desc">
                    <p>Obtaining a license and accepting money into accounts</p>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-date"><img src="images/end.png" alt=""></div>
                  <div class="timeline-desc">
                    <p>Brunch opening in the EU</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="team">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Our Team</h2>
            </div>
            <div class="col-md-3">
              <div class="team-item">
                <div class="team-img"><img src="images/team-img.jpeg" alt=""></div>
                <div class="team-detail">
                  <h3>Andrew Shimmer</h3>
                  <p>Position</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-item">
                <div class="team-img"><img src="images/team-img-2.jpeg" alt=""></div>
                <div class="team-detail">
                  <h3>Ann Maisner</h3>
                  <p>Position</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-item">
                <div class="team-img"><img src="images/team-img.jpeg" alt=""></div>
                <div class="team-detail">
                  <h3>Andrew Shimmer</h3>
                  <p>Position</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-item">
                <div class="team-img"><img src="images/team-img-2.jpeg" alt=""></div>
                <div class="team-detail">
                  <h3>Ann Maisner</h3>
                  <p>Position</p>
                </div>
              </div>
            </div>
            <div class="col-12 text-center mt-5"><a class="secondary-btn fill" href="#">More</a></div>
          </div>
        </div>
      </section>
      <section class="question">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="question-cover"><img src="images/form-img.jpg" alt=""></div>
            </div>
            <div class="col-md-6">
              <div class="title-form">
                <h2>Have a Questions?</h2>
                <p>Complete the form below and our manager will contact you within 1 hour!</p>
              </div>
              <form class="question-form">
                <div class="form-field">
                  <label>Name*</label>
                  <input type="text">
                </div>
                <div class="form-field">
                  <label>E-mail*</label>
                  <input type="text">
                </div>
                <div class="form-field">
                  <label>Phone number</label>
                  <input type="text">
                </div>
                <div class="form-field">
                  <label>Message*</label>
                  <input type="text">
                </div>
                <div class="form-field">
                  <button type="submit">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer start-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-logo">
              <svg>
                <use xlink:href="images/sprite.svg#logo-white"></use>
              </svg>
            </div>
          </div>
          <div class="col-lg-6 col-md-7 offset-lg-1 offset-md-2">
            <div class="footer-nav">
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Road Map</a></li>
                <li><a href="#">Privacy Police</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Press</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-12">
            <div class="social"><a class="social-link" href="#"><img src="images/facebook.svg" alt=""></a><a class="social-link" href="#"><img src="images/linkedin.svg" alt=""></a></div>
          </div>
          <div class="col-md-12">
            <div class="copyright">© 2019 Cvault. All rights Reserved.</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery & Bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Slick slider-->
    <script src="js/slick.min.js"></script>
    <!-- Magnific popup-->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Main script-->
    <script src="js/main.js"></script>
  </body>
</html>
