src/press-detail.pug
doctype html
html(lang='en')
	head
		include elements/head.pug
	- var blog_inner = true
	body(class=blog_inner ? 'blog-inner' : 'default')
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			section.blog-detail
				.post-full
					.post-full-banner: img(src="images/post-img-1.jpeg", alt="")

					.container
						.row
							.col-md-8.offset-md-2
								.full-title
									p SEPTEMBER 22, 2018
									h1 How to Increase Profits in Retail Business with Our New Product?
								p Browse through the best advice on how to find the right person you need.
								p Need some smart advice? Hiring the right person is always a daunting task for any employer. Hiring the wrong person will cost you significant business loss and waste of time. And vice versa, employing the right worker will increase your business productivity, improve relationships within your staff, and finally will add a positive power to the whole work environment. This means that hiring the right person you make a smart investment in your business without wasting your precious time and money. We are glad to offer you not a complete guide but a few key advice to help you make wise decisions. Here are some tips on how to hire an excellent workforce

								h3 1. Make a Detailed Job Analysis
								p Before hiring the employee you need, you have to make a deep job analysis (also called job profile) considering all the details.
									This will empower you to consider the job's duties, needful skills, responsibilities, and work culture. This deep analysis will give you a full picture of who you want to see as your future employee for some specific job. You can also write a job plan as another option of the job description. It will help you develop the right recruiting strategy to find the right employee.
								img(src="images/post-detail.jpeg")
								p You can also write a job plan as another option of the job description. It will help you develop the right recruiting strategy to find the right employee.

								h3 2. Prescreen Your Applicants
								p The most substantial motive to prescreen the applicants while hiring a worker is to save time on the interviewing. Whereas the applicant may seem satisfactory on paper, the prescreening interview may tell you if his or her experience really meets your job requirements.
								img(src="images/post-detail-2.jpeg")
								p Besides, while a prescreening interview, you can define whether your job fits with the applicant's salary expectations. A qualified phone interviewer can also determine whether the applicant fits your working environment.


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug

public/press-detail.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>index</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css">
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    -->
  </head>
  <body class="blog-inner">
    <!-- Header start-->
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="col-lg-3 px-0 text-center text-lg-left"><a class="navbar-brand logo" href="index.html">
              <svg>
                <use xlink:href="images/sprite.svg#logo-white"></use>
              </svg></a></div>
          <div>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services</a>
                  <div class="dropdown-menu"><a class="dropdown-item" href="#">Cold Crypto Wallets Setup</a><a class="dropdown-item" href="#">Cold Wallets Storage</a><a class="dropdown-item" href="#">Active Virtual Financial Asset Management</a><a class="dropdown-item" href="#">Exchange of the Virtual Financial Assets</a></div>
                </li>
                <li><a href="press.html">Press</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="faq.html">F.A.Q</a></li>
                <li><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En</a>
                  <ul class="dropdown-menu lang">
                    <li><a href="#">English </a></li>
                    <li><a href="#">Français</a></li>
                  </ul>
                </li>
                <li><a href="tel: +7 495 786 67 67">+7 495 786 67 67</a></li>
                <li><a href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#log-in"></use>
                    </svg></a></li>
              </ul>
            </div>
          </div>
          <div class="lang-responsive"><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En
              <div class="figure"></div></a>
            <ul class="dropdown-menu lang">
              <li><a href="#">English </a></li>
              <li><a href="#">Français</a></li>
            </ul>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
        </div>
      </nav>
    </header>
    <!-- Main page start-->
    <main>
      <section class="blog-detail">
        <div class="post-full">
          <div class="post-full-banner"><img src="images/post-img-1.jpeg" alt=""></div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="full-title">
                  <p>SEPTEMBER 22, 2018</p>
                  <h1>How to Increase Profits in Retail Business with Our New Product?</h1>
                </div>
                <p>Browse through the best advice on how to find the right person you need.</p>
                <p>Need some smart advice? Hiring the right person is always a daunting task for any employer. Hiring the wrong person will cost you significant business loss and waste of time. And vice versa, employing the right worker will increase your business productivity, improve relationships within your staff, and finally will add a positive power to the whole work environment. This means that hiring the right person you make a smart investment in your business without wasting your precious time and money. We are glad to offer you not a complete guide but a few key advice to help you make wise decisions. Here are some tips on how to hire an excellent workforce</p>
                <h3>1. Make a Detailed Job Analysis</h3>
                <p>Before hiring the employee you need, you have to make a deep job analysis (also called job profile) considering all the details.
                  <This>will empower you to consider the job's duties, needful skills, responsibilities, and work culture. This deep analysis will give you a full picture of who you want to see as your future employee for some specific job. You can also write a job plan as another option of the job description. It will help you develop the right recruiting strategy to find the right employee.</This>
                </p><img src="images/post-detail.jpeg">
                <p>You can also write a job plan as another option of the job description. It will help you develop the right recruiting strategy to find the right employee.</p>
                <h3>2. Prescreen Your Applicants</h3>
                <p>The most substantial motive to prescreen the applicants while hiring a worker is to save time on the interviewing. Whereas the applicant may seem satisfactory on paper, the prescreening interview may tell you if his or her experience really meets your job requirements.</p><img src="images/post-detail-2.jpeg">
                <p>Besides, while a prescreening interview, you can define whether your job fits with the applicant's salary expectations. A qualified phone interviewer can also determine whether the applicant fits your working environment.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer start-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-logo">
              <svg>
                <use xlink:href="images/sprite.svg#logo-white"></use>
              </svg>
            </div>
          </div>
          <div class="col-lg-6 col-md-7 offset-lg-1 offset-md-2">
            <div class="footer-nav">
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Road Map</a></li>
                <li><a href="#">Privacy Police</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Press</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-12">
            <div class="social"><a class="social-link" href="#"><img src="images/facebook.svg" alt=""></a><a class="social-link" href="#"><img src="images/linkedin.svg" alt=""></a></div>
          </div>
          <div class="col-md-12">
            <div class="copyright">© 2019 Cvault. All rights Reserved.</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery & Bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Slick slider-->
    <script src="js/slick.min.js"></script>
    <!-- Magnific popup-->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Main script-->
    <script src="js/main.js"></script>
  </body>
</html>
