src/service-page.pug
doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			.intro.inner-intro.service-intro
				.container
					.row

						.col-12
							h1 Cold Crypto Wallets Setup

			section.about-service
				.container

					.row.align-items
						.col-lg-8.col-md-6
							p Our team consists of highly motivated and skilled specialists who know how to deal with any issue that you may come across. This creates a basis for lasting relationships with our clients built on trust and mutual understanding. We are proud of working with each of our partners as they gave us enough support to become one of the leading companies. Here’s a short list of those who have already seen the quality of our services in practice:
							a(href="#").secondary-btn.reverse-color Get Product
							a(href="#").secondary-btn.fill.dark Contact Us

						.col-lg-4.col-md-6
							.preview-video
								.preview-img
								a(href="http://www.youtube.com/watch?v=0O2aH4XLbto").play-button

			section.product-examples
				.container
					.row
						.col-12
							h2 Product examples

					.row
						.col-12
							.item-examples

							.item-examples
			
			section.licences
				.container
					.row
						.col-12
							h2.mb-5 Our Licences
							p.text-center We deliver all kind of services that support small and micro businesses.

						.col-12
							.custom-row.mt-5
								.item-custom
									figure: a(href="#")
									h5: a(href="#") License 1

								.item-custom
									figure: a(href="#")
									h5: a(href="#") License 2

								.item-custom
									figure: a(href="#")
									h5: a(href="#") License 3

								.item-custom
									figure: a(href="#")
									h5: a(href="#") License 4

								.item-custom
									figure: a(href="#")
									h5: a(href="#") License 5


			section.documents
				.container
					.row
						.col-12
							h2.mb-3 Documents

						.col-12
							.custom-row.mt-5
								.item-custom
									figure
										a(href="#")
											svg
												use(xlink:href="images/sprite.svg#icon-file")
									
									h5: a(href="#") Document-name.pdf

								.item-custom
									figure
										a(href="#")
											svg
												use(xlink:href="images/sprite.svg#icon-file")

									h5: a(href="#") Document-name.pdf

								.item-custom
									figure
										a(href="#")
											svg
												use(xlink:href="images/sprite.svg#icon-file")

									h5: a(href="#") Document-name.pdf

								.item-custom
									figure
										a(href="#")
											svg
												use(xlink:href="images/sprite.svg#icon-file")

									h5: a(href="#") Document-name.pdf

								.item-custom
									figure
										a(href="#")
											svg
												use(xlink:href="images/sprite.svg#icon-file")

									h5: a(href="#") Document-name.pdf

			section.partners
				.container
					.row
						.col-12
							h2 Key Partners

						.partners-logo
							.wrap-logo
								img(src="images/TuricumLogo1.jpg", alt="")
							.wrap-logo
								img(src="images/cc-logo.png", alt="")
							.wrap-logo
								img(src="images/pwc.png", alt="")
							.wrap-logo
								img(src="images/dentos.png", alt="")
							.wrap-logo
								img(src="images/TuricumLogo1.jpg", alt="")


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug

public/service-page.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>index</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css">
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    -->
  </head>
  <body>
    <!-- Header start-->
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="col-lg-3 px-0 text-center text-lg-left"><a class="navbar-brand logo" href="index.html">
              <svg>
                <use xlink:href="images/sprite.svg#logo-white"></use>
              </svg></a></div>
          <div>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services</a>
                  <div class="dropdown-menu"><a class="dropdown-item" href="#">Cold Crypto Wallets Setup</a><a class="dropdown-item" href="#">Cold Wallets Storage</a><a class="dropdown-item" href="#">Active Virtual Financial Asset Management</a><a class="dropdown-item" href="#">Exchange of the Virtual Financial Assets</a></div>
                </li>
                <li><a href="press.html">Press</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="faq.html">F.A.Q</a></li>
                <li><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En</a>
                  <ul class="dropdown-menu lang">
                    <li><a href="#">English </a></li>
                    <li><a href="#">Français</a></li>
                  </ul>
                </li>
                <li><a href="tel: +7 495 786 67 67">+7 495 786 67 67</a></li>
                <li><a href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#log-in"></use>
                    </svg></a></li>
              </ul>
            </div>
          </div>
          <div class="lang-responsive"><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En
              <div class="figure"></div></a>
            <ul class="dropdown-menu lang">
              <li><a href="#">English </a></li>
              <li><a href="#">Français</a></li>
            </ul>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
        </div>
      </nav>
    </header>
    <!-- Main page start-->
    <main>
      <div class="intro inner-intro service-intro">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>Cold Crypto Wallets Setup</h1>
            </div>
          </div>
        </div>
      </div>
      <section class="about-service">
        <div class="container">
          <div class="row align-items">
            <div class="col-lg-8 col-md-6">
              <p>Our team consists of highly motivated and skilled specialists who know how to deal with any issue that you may come across. This creates a basis for lasting relationships with our clients built on trust and mutual understanding. We are proud of working with each of our partners as they gave us enough support to become one of the leading companies. Here’s a short list of those who have already seen the quality of our services in practice:</p><a class="secondary-btn reverse-color" href="#">Get Product</a><a class="secondary-btn fill dark" href="#">Contact Us</a>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="preview-video">
                <div class="preview-img"></div><a class="play-button" href="http://www.youtube.com/watch?v=0O2aH4XLbto"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="product-examples">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Product examples</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="item-examples"></div>
              <div class="item-examples"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="licences">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="mb-5">Our Licences</h2>
              <p class="text-center">We deliver all kind of services that support small and micro businesses.</p>
            </div>
            <div class="col-12">
              <div class="custom-row mt-5">
                <div class="item-custom">
                  <figure><a href="#"></a></figure>
                  <h5><a href="#">License 1</a></h5>
                </div>
                <div class="item-custom">
                  <figure><a href="#"></a></figure>
                  <h5><a href="#">License 2</a></h5>
                </div>
                <div class="item-custom">
                  <figure><a href="#"></a></figure>
                  <h5><a href="#">License 3</a></h5>
                </div>
                <div class="item-custom">
                  <figure><a href="#"></a></figure>
                  <h5><a href="#">License 4</a></h5>
                </div>
                <div class="item-custom">
                  <figure><a href="#"></a></figure>
                  <h5><a href="#">License 5</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="documents">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="mb-3">Documents</h2>
            </div>
            <div class="col-12">
              <div class="custom-row mt-5">
                <div class="item-custom">
                  <figure><a href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-file"></use>
                      </svg></a></figure>
                  <h5><a href="#">Document-name.pdf</a></h5>
                </div>
                <div class="item-custom">
                  <figure><a href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-file"></use>
                      </svg></a></figure>
                  <h5><a href="#">Document-name.pdf</a></h5>
                </div>
                <div class="item-custom">
                  <figure><a href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-file"></use>
                      </svg></a></figure>
                  <h5><a href="#">Document-name.pdf</a></h5>
                </div>
                <div class="item-custom">
                  <figure><a href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-file"></use>
                      </svg></a></figure>
                  <h5><a href="#">Document-name.pdf</a></h5>
                </div>
                <div class="item-custom">
                  <figure><a href="#">
                      <svg>
                        <use xlink:href="images/sprite.svg#icon-file"></use>
                      </svg></a></figure>
                  <h5><a href="#">Document-name.pdf</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="partners">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Key Partners</h2>
            </div>
            <div class="partners-logo">
              <div class="wrap-logo"><img src="images/TuricumLogo1.jpg" alt=""></div>
              <div class="wrap-logo"><img src="images/cc-logo.png" alt=""></div>
              <div class="wrap-logo"><img src="images/pwc.png" alt=""></div>
              <div class="wrap-logo"><img src="images/dentos.png" alt=""></div>
              <div class="wrap-logo"><img src="images/TuricumLogo1.jpg" alt=""></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer start-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-logo">
              <svg>
                <use xlink:href="images/sprite.svg#logo-white"></use>
              </svg>
            </div>
          </div>
          <div class="col-lg-6 col-md-7 offset-lg-1 offset-md-2">
            <div class="footer-nav">
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Road Map</a></li>
                <li><a href="#">Privacy Police</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Press</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-12">
            <div class="social"><a class="social-link" href="#"><img src="images/facebook.svg" alt=""></a><a class="social-link" href="#"><img src="images/linkedin.svg" alt=""></a></div>
          </div>
          <div class="col-md-12">
            <div class="copyright">© 2019 Cvault. All rights Reserved.</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery & Bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Slick slider-->
    <script src="js/slick.min.js"></script>
    <!-- Magnific popup-->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Main script-->
    <script src="js/main.js"></script>
  </body>
</html>
