src/services.pug
doctype html
html(lang='en')
	head
		include elements/head.pug
	body
		
		// Header start
		include elements/header.pug
		
		// Main page start
		main

			.intro.inner-intro
				.container
					.row

						.col-12
							h1 Services

			section#services.services
				.container

					.service-row
						.row
							.col-md-4
								.service-icon
									svg
										use(xlink:href="images/sprite.svg#wallet-setup")
							.col-md-8
								h5 Cold Crypto Wallets Setup
								p Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.

					.service-row
						.row
							.col-md-4
								.service-icon
									svg
										use(xlink:href="images/sprite.svg#bitcoin3")
							.col-md-8
								h5 Cold Wallets Storage
								p Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.

					.service-row
						.row
							.col-md-4
								.service-icon
									svg
										use(xlink:href="images/sprite.svg#browser-3")
							.col-md-8
								h5 Active Virtual Financial Asset Management (Full Control)
								p Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.

					.service-row
						.row
							.col-md-4
								.service-icon
									svg
										use(xlink:href="images/sprite.svg#bitcoin2")
							.col-md-8
								h5 Exchange of the Virtual Financial Assets with Professional Trading Venue VFA class 4
								p Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug

public/services.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>index</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css">
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    -->
  </head>
  <body>
    <!-- Header start-->
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="col-lg-3 px-0 text-center text-lg-left"><a class="navbar-brand logo" href="index.html">
              <svg>
                <use xlink:href="images/sprite.svg#logo-white"></use>
              </svg></a></div>
          <div>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services</a>
                  <div class="dropdown-menu"><a class="dropdown-item" href="#">Cold Crypto Wallets Setup</a><a class="dropdown-item" href="#">Cold Wallets Storage</a><a class="dropdown-item" href="#">Active Virtual Financial Asset Management</a><a class="dropdown-item" href="#">Exchange of the Virtual Financial Assets</a></div>
                </li>
                <li><a href="press.html">Press</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="faq.html">F.A.Q</a></li>
                <li><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En</a>
                  <ul class="dropdown-menu lang">
                    <li><a href="#">English </a></li>
                    <li><a href="#">Français</a></li>
                  </ul>
                </li>
                <li><a href="tel: +7 495 786 67 67">+7 495 786 67 67</a></li>
                <li><a href="#">
                    <svg>
                      <use xlink:href="images/sprite.svg#log-in"></use>
                    </svg></a></li>
              </ul>
            </div>
          </div>
          <div class="lang-responsive"><a class="dropdown-toggle current-lang" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">En
              <div class="figure"></div></a>
            <ul class="dropdown-menu lang">
              <li><a href="#">English </a></li>
              <li><a href="#">Français</a></li>
            </ul>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
        </div>
      </nav>
    </header>
    <!-- Main page start-->
    <main>
      <div class="intro inner-intro">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>Services</h1>
            </div>
          </div>
        </div>
      </div>
      <section class="services" id="services">
        <div class="container">
          <div class="service-row">
            <div class="row">
              <div class="col-md-4">
                <div class="service-icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#wallet-setup"></use>
                  </svg>
                </div>
              </div>
              <div class="col-md-8">
                <h5>Cold Crypto Wallets Setup</h5>
                <p>Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.</p>
              </div>
            </div>
          </div>
          <div class="service-row">
            <div class="row">
              <div class="col-md-4">
                <div class="service-icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#bitcoin3"></use>
                  </svg>
                </div>
              </div>
              <div class="col-md-8">
                <h5>Cold Wallets Storage</h5>
                <p>Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.</p>
              </div>
            </div>
          </div>
          <div class="service-row">
            <div class="row">
              <div class="col-md-4">
                <div class="service-icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#browser-3"></use>
                  </svg>
                </div>
              </div>
              <div class="col-md-8">
                <h5>Active Virtual Financial Asset Management (Full Control)</h5>
                <p>Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.</p>
              </div>
            </div>
          </div>
          <div class="service-row">
            <div class="row">
              <div class="col-md-4">
                <div class="service-icon">
                  <svg>
                    <use xlink:href="images/sprite.svg#bitcoin2"></use>
                  </svg>
                </div>
              </div>
              <div class="col-md-8">
                <h5>Exchange of the Virtual Financial Assets with Professional Trading Venue VFA class 4</h5>
                <p>Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads. Innovative digital solution for a marketing company. We worked on UX for the company website to make it more effective and increase the number of leads.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer start-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-logo">
              <svg>
                <use xlink:href="images/sprite.svg#logo-white"></use>
              </svg>
            </div>
          </div>
          <div class="col-lg-6 col-md-7 offset-lg-1 offset-md-2">
            <div class="footer-nav">
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Road Map</a></li>
                <li><a href="#">Privacy Police</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Press</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-12">
            <div class="social"><a class="social-link" href="#"><img src="images/facebook.svg" alt=""></a><a class="social-link" href="#"><img src="images/linkedin.svg" alt=""></a></div>
          </div>
          <div class="col-md-12">
            <div class="copyright">© 2019 Cvault. All rights Reserved.</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery & Bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Slick slider-->
    <script src="js/slick.min.js"></script>
    <!-- Magnific popup-->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Main script-->
    <script src="js/main.js"></script>
  </body>
</html>
